@media only screen and (min-width: 768px) {
  .bg {
    min-height: 100vh;
    background: url(./assets/background-graphic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  
}

@media only screen and (max-width: 767px) {
  .bg {
    background: url(./assets/background-graphic-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 200px
  }
}

@media only screen and (max-width: 575px) {
  .bg {
    background: url(./assets/background-graphic-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 200px
  }

  
  .content {
    z-index: 1;
    top: -106px;
  }
}

.content {
  padding-left: 48px;
  padding-top: 48px;
  padding-right: 30px;
}

.title {
  font-family: 'Noto Serif';
}

.headshot {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
}

.abt_p {
  padding-right: 20px;
}

h5 {
  font-family: 'Noto Serif';
  font-size: 12px;
  color: #CCCCCC;
  letter-spacing: 0.15em;
}

.skills {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 120%;
  /* or 14px */
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

p {
  font-family: 'Noto Sans';
  font-size: 16px;
  padding-right: 10px;
  color: #272643;
}

.links {
  color: #1AC0C6;
  text-decoration-line: underline;
  font-size: 16px;
  position: relative;
  bottom: 16px;
  font-family: 'Noto Sans';
}

.link {
  color: #1AC0C6;
  text-decoration-line: underline;
  font-size: 16px;
  bottom: 16px;
  font-family: 'Noto Sans';
}

body {
  background-color: #FAFAFA;
}

.card {
  background: #FFFFFF;
  /* Card Shadow */
  box-shadow: 0px 15px 30px -20px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  max-width: 650px;
}

.card-img {
  padding: 10px;
  background-size: cover;
  height: 100%;
  width: 100%;
}