/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

.bg {
  min-height: 100vh;
  background: url(./assets/background-graphic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  
}

@media only screen and (max-width: 991px) {
  .bg {
    background: url(./assets/background-graphic-tablet.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

@media only screen and (max-width: 575px) {
  .bg {
    background: url(./assets/background-graphic-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}

/* .content {
  min-height: 100vh;
} */

.title {
  font-family: 'Noto Serif';
}

.headshot {
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

h5 {
  font-family: 'Noto Serif';
  font-size: 12px;
  color: #CCCCCC;
  letter-spacing: 0.15em;
}

p {
  font-family: 'Noto Sans';
  font-size: 16px;
}

.link_out {
  color: #1AC0C6;
  text-decoration-line: underline;
  font-size: 16px;
  position: relative;
  bottom: 16px
}

body {
  background-color: #E5E5E5;
}

/* .social {
  justify-content: center
} */