@media only screen and (min-width: 768px) {
  .bg {
    min-height: 100vh;
    background: url(./assets/background-graphic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  
}

@media only screen and (max-width: 767px) {
  .bg {
    background: url(./assets/background-graphic-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 200px
  }
}

@media only screen and (max-width: 575px) {
  .bg {
    background: url(./assets/background-graphic-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 200px
  }

  
  .content {
    z-index: 1;
    top: -106px;
  }
}

.content {
  padding-left: 48px;
  padding-top: 48px;
  padding-right: 30px;
}

.title {
  font-family: 'Noto Serif';
}

.headshot {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
}

.abt_p {
  padding-right: 20px;
}

h5 {
  font-family: 'Noto Serif';
  font-size: 12px;
  color: #CCCCCC;
  letter-spacing: 0.15em;
}

p {
  font-family: 'Noto Sans';
  font-size: 16px;
}

.links {
  color: #1AC0C6;
  text-decoration-line: underline;
  font-size: 16px;
  position: relative;
  bottom: 16px;
  font-family: 'Noto Sans';
}

body {
  background-color: #FAFAFA;
}

.card {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #FFFFFF;
  /* Card Shadow */

  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
